b {
    color: #e536fc;
}
.css {
    transform: scale(2);
    color: #3799d1;
}
.divs {
    min-width: 40vw;
    width: 40vw;
    padding: 1em;
}
@media screen and (max-width: 600px) {
.divs {
    min-width: 80vw;
    width: 80vw;
    padding: 1em;
}
}