
.container {

    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.minheight {
    min-height: 60vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.profile {
    margin: auto;
    background-image: url(../../../imgs/profile.jpg);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-position: center;
    background-size: cover;

}

@media screen and (max-width: 880px) {
    
    .minheight {
        min-height: 70vh;
    }
}