* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html, body, #root {
  background-image: url('../imgs/R.jpg');
  background-position: center;
  background-size: cover;
  opacity: 2;
  animation: balance 20s infinite;
  height: 100%;
}

@media  screen and (min-width: 700px) {
  @keyframes balance {
  5% {
    background-position: top 8px left 4px;
  }
  20% {
    background-position: top 5px left 2px;
  }
  30% {
    background-position: bottom 2px left 1px;
  }
  40% {
    background-position: bottom 4px right 2px;
  }
  50% {
    background-position: bottom 7px right 4px;
  }
  75% {
    background-position: right 2px bottom 3px;
  }
  100% {
    background-position: center;
  }
}

 

}
